@import "../../../assets/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

.background {
  font-family: "Noto Sans KR", sans-serif;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  height: 100%;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans KR", sans-serif;
  background: rgb(211, 216, 219);
  border-radius: 8px;

  margin-left: 15vw;
  width: 85vw;
}

.guestContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 1vh;
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f4f4f4;
  margin-top: 1vh;
}

.marginDiv {
  margin-top: 8vh;
}

.numberContainer {
  font-size: 20px;
  height: 8vh;
  position: fixed;
  top: 0;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  .number {
    margin-left: 1vw;
    font-weight: bold;
    color: #212952;
  }
}
.rankingContainer {
  display: flex;
  width: 10vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 1vw;
  border: solid 1px #f4f4f4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  .p {
    font-size: 100px;
    font-weight: bold;
    color: orange;
  }
  .h1 {
    font-size: 20px;
    color: grey;
    margin-bottom: 1vh;
  }
}

.btnContainer {
  display: flex;
  gap: 1vw;
  justify-content: flex-end;
  margin-right: 1vw;
}

.btnContainer > :nth-child(1) {
  background-color: #ffc91d;
}

.btnContainer > :nth-child(2) {
  background-color: #212952;
}

.btnContainer > :nth-child(3) {
  background-color: #bf3e32;
}

.bookbtn {
  color: white;
  width: 6vw;
  height: 9vh;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  display: flex; // 추가된 속성
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.guestInfoContainer {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  gap: 1vh;
}

.waitingDead {
  font-size: 20px;
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: rgb(202, 28, 28);
  font-size: 30px;
  font-weight: bold;
  color: white;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.waitingStart {
  font-size: 20px;
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: orange;
  font-size: 30px;
  font-weight: bold;
  color: white;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}