@import "../../assets/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

.menubar {
    font-size: 25px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 15vw;
    height: 100vh;
    background-color: white;
  } 
  .baritemLayout {
    display: flex; /* Make this a flex container */
    gap: 10px; /* Space between items */
  }
  .baritem {
    margin-top: 10vh;
    text-align: center;
    font-size:  25px;
    margin-bottom: 20px;
  }
  .active {
    font-weight: bold;
    color: orange;
    cursor: pointer;
  }